config/n8n-workflows/video-generation.json
{
  "name": "Video Generation Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "video/generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "video-generate"
    },
    {
      "parameters": {
        "jsCode": "// Prepare Wan 2.1 T2V 1.3B workflow for ComfyUI\nconst input = $input.first();\nconst prompt = input.json.body.prompt;\nconst negativePrompt = input.json.body.negative_prompt || 'blurry, low quality, distorted, artifacts, watermark, text';\nconst frames = Math.min(input.json.body.frames || 33, 81);\nconst width = input.json.body.width || 480;\nconst height = input.json.body.height || 320;\nconst steps = input.json.body.steps || 20;\nconst cfg = input.json.body.cfg || 6.0;\nconst seed = input.json.body.seed || Math.floor(Math.random() * 2**32);\n\nif (!prompt || prompt.length === 0) {\n  throw new Error('Prompt is required for video generation');\n}\n\n// Build Wan 2.1 ComfyUI workflow with proper node types\nconst workflow = {\n  '1': {\n    inputs: { unet_name: 'wan2.1_t2v_1.3B_bf16.safetensors', weight_dtype: 'default' },\n    class_type: 'UNETLoader'\n  },\n  '2': {\n    inputs: { clip_name: 'umt5_xxl_fp8_e4m3fn_scaled.safetensors', type: 'wan' },\n    class_type: 'CLIPLoader'\n  },\n  '3': {\n    inputs: { vae_name: 'wan_2.1_vae.safetensors' },\n    class_type: 'VAELoader'\n  },\n  '4': {\n    inputs: { text: prompt, clip: ['2', 0] },\n    class_type: 'CLIPTextEncode'\n  },\n  '5': {\n    inputs: { text: negativePrompt, clip: ['2', 0] },\n    class_type: 'CLIPTextEncode'\n  },\n  '6': {\n    inputs: { width: width, height: height, length: frames, batch_size: 1 },\n    class_type: 'EmptyWanLatentVideo'\n  },\n  '7': {\n    inputs: {\n      seed: seed, steps: steps, cfg: cfg,\n      sampler_name: 'uni_pc_bh2', scheduler: 'normal', denoise: 1.0,\n      model: ['1', 0], positive: ['4', 0], negative: ['5', 0], latent_image: ['6', 0]\n    },\n    class_type: 'KSampler'\n  },\n  '8': {\n    inputs: { samples: ['7', 0], vae: ['3', 0] },\n    class_type: 'VAEDecode'\n  },\n  '9': {\n    inputs: { filename_prefix: 'wan21_video_' + Date.now(), images: ['8', 0] },\n    class_type: 'SaveImage'\n  }\n};\n\nreturn {\n  json: {\n    workflow: workflow,\n    client_id: 'n8n-video-' + Date.now(),\n    request_id: 'video_' + Date.now(),\n    prompt: prompt,\n    frames: frames,\n    width: width,\n    height: height,\n    seed: seed\n  }\n};"
      },
      "id": "prepare-request",
      "name": "Build Wan 2.1 Workflow",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://comfyui-self-hosted-ai-gpu-worker-comfyui.gpu-workloads:8188/prompt",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ prompt: $json.workflow, client_id: $json.client_id }) }}",
        "options": {
          "timeout": 900000
        }
      },
      "id": "queue-comfyui",
      "name": "Queue ComfyUI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "amount": 15,
        "unit": "seconds"
      },
      "id": "wait-initial",
      "name": "Wait for Generation",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [910, 300]
    },
    {
      "parameters": {
        "url": "=http://comfyui-self-hosted-ai-gpu-worker-comfyui.gpu-workloads:8188/history/{{ $('Queue ComfyUI').item.json.prompt_id }}",
        "options": {}
      },
      "id": "check-status",
      "name": "Check Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-complete",
              "leftValue": "={{ Object.keys($json).length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-complete",
      "name": "Is Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1350, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract frame outputs from ComfyUI history\nconst input = $input.first();\nconst request = $('Build Wan 2.1 Workflow').first().json;\nconst history = Object.values(input.json)[0];\nconst comfyUrl = 'http://comfyui-self-hosted-ai-gpu-worker-comfyui.gpu-workloads:8188';\n\nlet frames = [];\nif (history && history.outputs) {\n  for (const [nodeId, output] of Object.entries(history.outputs)) {\n    if (output.images) {\n      for (const img of output.images) {\n        frames.push({\n          filename: img.filename,\n          url: `${comfyUrl}/view?filename=${encodeURIComponent(img.filename)}&subfolder=${encodeURIComponent(img.subfolder || '')}&type=${img.type || 'output'}`\n        });\n      }\n    }\n  }\n}\n\nreturn {\n  json: {\n    success: true,\n    status: 'completed',\n    request_id: request.request_id,\n    prompt: request.prompt,\n    frames_generated: frames.length,\n    resolution: `${request.width}x${request.height}`,\n    seed: request.seed,\n    frames: frames.slice(0, 5),\n    message: `Generated ${frames.length} frames at ${request.width}x${request.height} using Wan 2.1 T2V 1.3B`\n  }\n};"
      },
      "id": "extract-result",
      "name": "Extract Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1570, 200]
    },
    {
      "parameters": {
        "jsCode": "const request = $('Build Wan 2.1 Workflow').first().json;\nconst promptId = $('Queue ComfyUI').first().json.prompt_id;\n\nreturn {\n  json: {\n    success: true,\n    status: 'processing',\n    request_id: request.request_id,\n    prompt_id: promptId,\n    message: `Video generation in progress (Wan 2.1 T2V 1.3B, ${request.frames} frames at ${request.width}x${request.height}). This may take 1-3 minutes.`\n  }\n};"
      },
      "id": "pending-result",
      "name": "Pending Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1570, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1790, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond-pending",
      "name": "Respond Pending",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1790, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Build Wan 2.1 Workflow", "type": "main", "index": 0 }]]
    },
    "Build Wan 2.1 Workflow": {
      "main": [[{ "node": "Queue ComfyUI", "type": "main", "index": 0 }]]
    },
    "Queue ComfyUI": {
      "main": [[{ "node": "Wait for Generation", "type": "main", "index": 0 }]]
    },
    "Wait for Generation": {
      "main": [[{ "node": "Check Status", "type": "main", "index": 0 }]]
    },
    "Check Status": {
      "main": [[{ "node": "Is Complete?", "type": "main", "index": 0 }]]
    },
    "Is Complete?": {
      "main": [
        [{ "node": "Extract Result", "type": "main", "index": 0 }],
        [{ "node": "Pending Result", "type": "main", "index": 0 }]
      ]
    },
    "Extract Result": {
      "main": [[{ "node": "Respond Success", "type": "main", "index": 0 }]]
    },
    "Pending Result": {
      "main": [[{ "node": "Respond Pending", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "2",
  "meta": { "instanceId": "self-hosted-ai" },
  "tags": [
    { "name": "video" },
    { "name": "generation" },
    { "name": "comfyui" },
    { "name": "wan2.1" }
  ]
}
